@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600&display=swap');

body {
    font-family: 'Saira';
    line-height: 28px;
    color: #23262F;
    width: 100%;
}

.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 28px;
    z-index: 10;
   
}
.container {
    max-width: 1271px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 30px;

}
a {
    color: inherit;
}
.logo {
}
.nav {
}
.nav-list {
    display: flex;
}
.nav-list__item:not(:last-child) {
    margin-right: 65px;
}
.nav-list__item--link {
    transition: 0.3s;
}
.nav-list__item--link:hover {
    font-weight: 600;
}
.active-link {
    font-weight: 600;
}


.burger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 18px;
    height: 2px;
    margin: 5px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.burger .bar:nth-child(2) {
    width: 14px;
}

@media (max-width: 767px) {
    .header {
        padding: 0 10px;
    }
    .burger {
        display: block;
    }
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
    .nav {
        position: fixed;
        left: -120%;
        top: 80px;
        gap: 0;
        width: 100%;
        height: 100%;
       /*  flex-direction: column;
        background-color: #262626;
        width: 100%;
        min-height: 100%; 
        display: block; 
        text-align: center; */
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 1) 100%);
        transition: 0.3s;
        padding: 40px 0;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .nav-list__item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .nav-list__item--link {
        font-size: 29px;
    }
    .nav.active {
        left: 0;
    }
}






/* ============ Main ============ */
.main-inner {
    padding: 225px 0 30px;
    background: url(../img/main-bg.jpg) 0 0/100% 100% no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.container {
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    max-width: 888px;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 30px;
}
.text {
}
.main-text {
    max-width: 627px;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 65px;
}
.btn {
    padding: 16px 80px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.main-btn {
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    margin-bottom: 210px;
    
}

.dec {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}



.main__benefits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #286F6C;
    border-radius: 20px;
    padding: 38px 111px;
    margin-top: -80px;
    z-index: 5;
    column-gap: 30px;
    
}
.main__benefits__item {
    width: 112px;
    height: 105px;
    text-align: center;
    position: relative;
}
/* .main__benefits__item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100px;
    background: #fff;
    top: 0;
    right: -95px;
} */
.main__benefits__item__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.main__benefits__item__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .main-inner {
        padding: 190px 0 30px;
    }
    .main__benefits {
        padding: 74px 48px;
    }
    .main__benefits__item {
        max-width: 76px;
        margin-bottom: 62px;
    }
    .main__benefits__item:nth-child(3),
    .main__benefits__item:nth-child(4) {
        margin-bottom: 0;
    }
    .main__benefits__item__title {
        font-size: 24px;
    }
    .main__benefits__item__text {
        font-size: 14px;
    }
    /* .main__benefits__item:not(:last-child)::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100px;
        background: #fff;
        top: 0;
        right: -45px;
    } */
    h1 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .main-text {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .btn {
        padding: 9px 35px;
        font-size: 14px;
    }
    .main-btn {
        background: rgba(226, 226, 226, 0.4);
        backdrop-filter: blur(30px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 10px;
        margin-bottom: 210px;
       
        
    }
    
}


/* ========== section more aestetic */

.section-plus {
}
.plus {
    display: flex;
    justify-content: space-between;
    padding: 74px 0;
}
.plus__photo {
    max-width: 554px;
}
.plus__photo img {
    width: 100%;
}
.plus__content {
    max-width: 587px;
}
.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    text-transform: capitalize;
}
.title-plus {
    max-width: 508px;
    margin-bottom: 14px;
}
.text {
   
}
.text-plus {
    margin-bottom: 35px;
     font-size: 20px;
}
.plus__curds {
}
.plus__curds__item {
}
.subtitle {
}
.plus__curds__item-sutitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
    position: relative;
    padding-left: 48px;
}
.plus__curds__item-sutitle::before {
    content: url(../img/ok.svg);
    position: absolute;
    margin-left: -49px;
    
}
.plus__curds__item-text {
    padding-left: 48px;
}

@media (max-width: 767px) {
    .plus {
        flex-direction: column-reverse;
    }
    .plus__photo {
        max-width: 100%;
    }
    .plus__content {
        width: 100%;
        margin-bottom: 50px;
    }
    .title {
    }
    .title-plus {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .text {
    }
    .text-plus {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .plus__curds {
    }
    .plus__curds__item {
    }
    .subtitle {
    }
    .plus__curds__item-sutitle {
        font-size: 16px;
    }
    .plus__curds__item-text {
        font-size: 14px;
    }
}
/* ========== section new products */ 

.section-new {
}
.new {
    display: flex;
    width: 100%;
    padding: 70px 0;
}
.new__content {
   /*  max-width: 245px; */
    min-width: 24%;
    display: flex;
    justify-content: flex-end;
    padding-left: 15px;
    
}
.title {
}
.title-new {
    margin-bottom: 89px;
    max-width: 219px;
}
.text {
}
.text-new {
    max-width: 245px;
    margin-bottom: 48px;
}
.new-link {
    font-weight: 500;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    position: relative;
}
.new-link::after {
    content: url(../img/Arrow\ 8.svg);
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    margin-left: 10px;
}
.new__cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}
.new__cards__link {
    /* min-width: 199px; */
    max-width: 265px;
}
.new__cards__item {
    
    max-width: 400px;
    position: relative;
}
.new__cards__item-desc {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}
.new__cards__item-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-align: center;
}

@media (max-width: 767px) {
    .new {
        flex-direction: column;
    }
    .new__content {
        max-width: 100%; 
        min-width: 24%;
        display: flex;
        justify-content: flex-start;
        padding-left: 15px;
    }
    .new__content-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    .title-new {
        font-size: 24px;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .text-new {
        font-size: 14px;
        margin-bottom: 0;
        max-width: 100%;
    }
    .new-link {
        display: none;
    }
    .new__cards {
        padding-left: 15px;
    }
    .new__cards__item-title {
        font-size: 18px;
    }
}


/* ========== section new products */ 

.section-furniture {
}
.furniture {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.furniture__content {
    max-width: 558px;
}
.title {
}
.furniture-title {
    margin-bottom: 35px;
}
.text {
}
.furniture-text {
}
.furniture__photo {
    max-width: 554px;
}
.furniture__photo img {
    width: 100%;
}

@media (max-width: 767px) {
    .furniture {
        flex-direction: column;
    }
    .furniture-title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .furniture-text {
        font-size: 14px;
        margin-bottom: 50px;

    }
}


/* ========== section discount */ 

.section-discount {
    background: url(../img/discountbg.jpg) 0 0/100% 100% no-repeat;
}
.discount {
    padding: 100px 0 142px;
    display: flex;
    justify-content: flex-end;
}
.discount-content {
    max-width: 558px;
}
.title {
}
.discount-title {
    max-width: 349px;
    color: #fff;
    margin-bottom: 20px;
}
.text {
}
.discount-text {
    color: #fff;
    margin-bottom: 40px;
}
.discount-form {
    max-width: 558px;
    display: flex;
    align-items: center;
}
.discount-form input {
    width: 384px;
    padding: 22px 24px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-right: 22px;
}
.btn-discount {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 20px 28px;
    background: #23262F;
    border-radius: 8px;
    
}

@media (max-width: 767px) {
    .discount {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 0;
    }
    .discount-content {
        max-width: 340px;
    }
    .discount-title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .discount-text {
       font-size: 14px;
       margin-bottom: 32px;
    }
    .discount-form {
        max-width: 340px;
        
    }
    .discount-form input {
        width: 220px;
        padding: 14px 20px;
       
    }
    .btn-discount {
        
    }
    .btn-discount {
        width: 105px;
        font-size: 12px;
        padding: 19px 23px;
    }
}



/* ========== section all products */ 

.section-poducts {
    padding: 70px 0;
}
.products {
}
.title {
}
.products-title {
    text-align: center;
    margin-bottom: 16px;
}
.text {
}
.products-text {
    text-align: center;
    max-width: 539px;
    margin: 0 auto;
    margin-bottom: 71px;
}
.products__slider {
}
.products__slider-wrapper {
    display: grid;
    /* grid-template-columns: repeat(4, minmax(140px, 285px)); */
    grid-template-columns: repeat(4, 1fr);
    
    column-gap: 27px;
    row-gap: 60px;
}
.product__item {
    max-width: 290px;
    max-height: 380px;
}
.products__item-photo {
    max-width: 285px;
    position: relative;
    margin-bottom: 25px;
}
.products__item-photo img {
    width: 100%;
    border: 1px solid rgba(16, 38, 55, 0.1);
    border-radius: 16px;
}
.add-btn {
    position: absolute;
    bottom: 16px;
    right: 22px;
    width: 30px;
    height: 30px;
    background: #D9D9D9;
    border-radius: 50%;
    /* position: relative; */
}
.add-btn::before {
    content: url(../img/plus.svg);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.products__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-transform: capitalize;
    color: #23262F;
    margin-bottom: 8px;
    
}
.products__item-price {
    margin-right: 18px;
}
.products__item-sale-price {
    font-size: 14px;
    line-height: 165%;
    /* identical to box height, or 23px */
    
    text-decoration-line: line-through;
    
    color: #23262F;
    
    opacity: 0.5;
}

@media (max-width: 767px) {
    .products__slider-wrapper {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 25px;
    }
}


/* ========== section all rewies */ 

.section-rewies {
    padding: 70px 0;
}

.rewies {
    display: flex;
    justify-content: space-between;
}
.rewies__content {
    max-width: 635px;
}
.title {
}
.title-rewies {
    margin-bottom: 36px;
}
.slider-rewies {
}
.slider-rewies__item {
    margin-bottom: 31px;
}
.rewie-autor {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.rewie-autor img {
    margin-right: 20px;
}
.rewie-autor-photo {
}
.rewie-autor-info {
}
.rewie-autor__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #23262F;
    margin-bottom: 12px;
}
.rewie-autor__work {
    font-size: 14px;
    line-height: 100%;
    color: #23262F;
    opacity: 0.5;
}
.rewie-text {
    font-size: 20px;
    line-height: 170%;
    color: #23262F;
    max-width: 530px;
}

.pag {
}
.rewies__photo {
    max-width: 562px;
}.rewies__photo img {
    width: 100%;
}

@media (max-width: 767px) {
    .rewies {
        flex-direction: column;
    }
    .rewies__content {
        width: 100%;
    }
    .rewies__photo {
        max-width: 100%;

    }
}





/* ========== footer */ 

.footer {
    background: #23262F;
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0 60px;
    border-bottom: 1px solid #fff;

}
.footer-links {
    display: flex;
    gap: 16px;
}
.footer-links__item {
    width: 48px;
    height: 48px;
    background: rgba(42, 44, 63, 1);
    border-radius: 50%;

}
.footer-links__item svg {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    transform: translateY(-50%);
    
}


.footer-bottom {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 78px;
    padding: 64px 0 50px;
}

.footer-bottom__card {
    max-width: 141px;
}

.footer-bottom__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
    
}
.footer-bottom__links {
}
.footer-bottom__link__item:not(:last-child){
    margin-bottom: 25px;
}
.footer-bottom__link__item a p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}
.footer-date {
}
.footer-date__text {
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

@media (max-width: 767px) {
    .logo-bottom {
        
        margin-bottom: 20px;

    }      
    .footer-top {
        display: block;
        border-bottom: none;
        padding: 40px 0 40px;
    }
    .footer-bottom {
        padding: 0 0 100px;
    }
    .footer-links {
       justify-content: center;
    }

}


/* hide */

.hide {
    display: none;
}



